.kabelenga {
  position: relative;
}
.body,
.heading {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.heading {
  flex: 1;
}
.body {
  margin: 0;
  align-self: stretch;
  overflow: hidden;
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
}
.tellingStoriesWithout {
  flex: 1;
  position: relative;
}
.heading2 {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 48px;
  font-family: inherit;
}
.menuIcon {
  position: absolute;
  margin: 0 !important;
  top: 12px;
  left: 859px;
  width: 54px;
  height: 54px;
  object-fit: cover;
  display: none;
  z-index: 5;
}
.desktop1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 65px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 420px) {
  .menuIcon {
    display: flex;
  }
}
